@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');



body {
    margin: 0;
    overflow: hidden;
    background-color: #303030;
    font-size: 1em;
    color: #61AD68;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 97vh;
    width: 100vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.column:nth-child(1) {
    width: 5vw;
    background-color: #201E1E;
}

.column:nth-child(2) {
    width: 15vw;
    background-color: #262626;
}

.column:nth-child(3) {
    width: 80vw;
}

.row,
.top-row {
    border: 1px solid #000000;
    flex: 1;
}

.top-row {
    height: 6vh;
    background-color: #201e1f;
    color: #e0ffdf;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
    color: #61AD68;
}


.title {
    flex: 0.142;
    background-color: #262626;
    font-size: 2em;
    color: #e0ffdf;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;

}

li a {
    text-decoration: none;
    color: #61AD68;
}

.instrucitons {
    font-size: 14px;
    color: violet;
}

.grid-container {
    display: grid;
    flex: none;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    /* Adjust the minmax values and column count as needed */
    grid-gap: 30px;
    /* Adjust the gap between grid items */
    justify-items: center;
    /* Center grid items horizontally */
    align-items: center;
    /* Center grid items vertically */
}

.grid-item {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}


.list-container {
    margin-bottom: 20px;
}

.list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.song-list {
    list-style-type: none;
    padding: 0;
}

.song-single {
    padding: 1px;
    background-color: #f2f2f2;
    border-radius: 1px;
    margin-bottom: 1px;
}


.song-single:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.dropdown-option {
    cursor: pointer;
    padding: 5px;
}

.dropdown-option:hover {
    background-color: #e6e6e6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Style for modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
  }

  /* Style for close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }